
.comment-text{
    padding: 5px;
    background-color: blueviolet;
}
.margin{
    margin:10px;

}
.comment-reply{
    background-color: mediumblue;
    padding: 3px;
}
.comment-reply-input{
    padding: 0;
    margin:0;
}
.reply-input{
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    margin-left:8%;
    font-weight: 800;


}

.reply-input:focus{
    border: none;
}